

<body class="body-wrapper">
<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-expand-lg  navigation">
						<a class="navbar-brand" href="index.html">
				
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
						</button>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!--==================================
	=            User Profile            =
	===================================-->
	
	<section class="user-profile section">
		<div class="container">
			<div class="row">
				
				<div class="col-md-10 offset-md-1 col-lg-10 offset-lg-0">
					<!-- Edit Personal Info -->
					<div class="widget personal-info">
						<!-- <h3 class="widget-header user">Add Company Information</h3> -->
						<form #sponsorForm="ngForm" novalidate (ngSubmit)="onSubmit()">
	
							<!-- {{ sponsorForm.value | json }} -->
	
							<!-- {{ sponsorModel | json }} -->
	
							<!-- Company Name -->
							<div class="form-group">
								<label>Company Name</label>
								<input type="text" name="name" required #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" 
								[(ngModel)]="sponsorModel.name"><small class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required</small>
								
							</div>
							<!-- Email Address -->
							<div class="form-group">
								<label>Address</label>
								<input name="address" class="form-control" [(ngModel)]="sponsorModel.address">
							</div>
							<!-- Address -->
							<div class="form-group">
								<label>E mail</label>	
								<input name="email" class="form-control" [(ngModel)]="sponsorModel.email">
							</div>
							
							<div class="form-group">
								<label>Telephone No</label>	
								<input name="email" class="form-control" [(ngModel)]="sponsorModel.email">
								<input name="email" class="form-control" [(ngModel)]="sponsorModel.email">
							</div>
							
							<div class="form-group">
								<label>Maximum Budget Limit</label>	
								<input name="maxBudgetLimit" class="form-control" [(ngModel)]="sponsorModel.maxBudgetLimit">
							</div>

							<div class="form-group">
								<label>E mail</label>	
								<input name="websiteUrl" class="form-control" [(ngModel)]="sponsorModel.websiteUrl">
							</div>
							
						
							<!-- Comunity Name -->
							<div class="form-group">
								<label for="comunity-name">Description</label>
								<input type="text" class="form-control" id="description" height="50">
							</div>
							<!-- Checkbox -->
							<div class="form-check">
							  <label class="form-check-label" for="hide-profile">
								<input class="form-check-input" type="checkbox" value="" id="hide-profile">
								Hide Profile from Public/ComunitY
							  </label>
							</div>
							<!-- Zip Code -->
							<div class="form-group">
								<label for="zip-code">Zip Code</label>
								<input type="text" class="form-control" id="zip-code">
							</div>
							
							<!-- Submit button -->
							<button class="btn btn-transparent" type="submit">REGISTER</button>
						</form>
	
	
							
	
					</div>
					<!-- Change Password -->

				</div>
			</div>
		</div>
	</section>
	
				
		  
	
	<!--============================
	=            Footer            =
	=============================-->
	
	<!-- <footer class="footer section section-sm"> -->
	  <!-- Container Start -->
	  <!-- <div class="container">
		<div class="row">
		  <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0"> -->
			<!-- About -->
			<!-- <div class="block about"> -->
			  <!-- footer logo -->
			  <!-- <img src="logo-small.png" alt=""> -->
			  <!-- description -->
			  <!-- <p class="alt-color">EventsHub is a platform where UOC clubs can publish there events. Not only publishing, but apple-app-store
					find sponsorships, find service providers such as photographers, music bands, dj's, catering services etc.</p> -->
			<!-- </div>
		  </div> -->
		  <!-- Link list -->
		  <!-- <div class="col-lg-2 offset-lg-1 col-md-3">
			<div class="block">
			  <h4>Site Pages</h4>
			  <ul>
				<li><a href="#">Registered Clubs</a></li>
				<li><a href="#">Registered Sponsors</a></li>
				<li><a href="#">How it works</a></li>
			  </ul>
			</div>
		  </div> -->
		  <!-- Link list -->
		  <!-- <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
			<div class="block">
			  <h4>Admin Pages</h4>
			  <ul>
				<li><a href="#">Boston</a></li>
				<li><a href="#">How It works</a></li>
				<li><a href="#">Deals & Coupons</a></li>
				<li><a href="#">Articls & Tips</a></li>
				<li><a href="#">Terms of Services</a></li>
			  </ul>
			</div>
		  </div> -->
		  <!-- Promotion -->
		  <!-- <div class="col-lg-4 col-md-7"> -->
			<!-- App promotion -->
			<!-- <div class="block-2 app-promotion">
			  <a href=""> -->
				<!-- Icon -->
				<!-- <img src="images/footer/phone-icon.png" alt="mobile-icon">
			  </a>
			  <p>Get the Dealsy Mobile App and Save more</p>
			</div>
		  </div>
		</div>
	  </div> -->
	  <!-- Container End -->
	<!-- </footer> -->
	<!-- Footer Bottom -->
	<!-- <footer class="footer-bottom"> -->
		<!-- Container Start -->
		<!-- <div class="container">
		  <div class="row">
			<div class="col-sm-6 col-12"> -->
			  <!-- Copyright -->
			  <!-- <div class="copyright">
				<p>Copyright © 2016. All Rights Reserved</p>
			  </div>
			</div>
			<div class="col-sm-6 col-12"> -->
			  <!-- Social Icons -->
			  <!-- <ul class="social-media-icons text-right">
				  <li><a class="fa fa-facebook" href=""></a></li>
				  <li><a class="fa fa-twitter" href=""></a></li>
				  <li><a class="fa fa-pinterest-p" href=""></a></li>
				  <li><a class="fa fa-vimeo" href=""></a></li>
				</ul>
			</div>
		  </div>
		</div> -->
		<!-- Container End -->
		<!-- To Top -->
		<!-- <div class="top-to">
		  <a id="top" class="" href=""><i class="fa fa-angle-up"></i></a>
		</div>
	</footer> -->
	
	  <!-- JAVASCRIPTS -->
	  <script src="plugins/jquery/jquery.min.js"></script>
	  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
	  <script src="plugins/tether/js/tether.min.js"></script>
	  <script src="plugins/raty/jquery.raty-fa.js"></script>
	  <script src="plugins/bootstrap/dist/js/popper.min.js"></script>
	  <script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	  <script src="plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	  <script src="plugins/slick-carousel/slick/slick.min.js"></script>
	  <script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	  <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
	  <script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	  <script src="js/scripts.js"></script>
	
	</body>
	
	