<body>
<div class="row p-lg-3 p-sm-5 p-4">
  <div class="col-lg-4 align-self-center">

          <img src={{img}} class="img-fluid">


  </div>
  <div class="col-lg-8">
      <div class="row">
          <div class="col-lg-9 col-md-10">
              <div class="ad-listing-content">
                  <div>
                      <a href="single.html" class="font-weight-bold">{{title}}</a>
                  </div>
                  <ul class="list-inline mt-2 mb-3">
                  <li class="list-inline-item"><a href="category.html"> <i class="fa fa-folder-open-o"></i> {{ club | uppercase }}</a></li>
                  <br>
                  <li class="list-inline-item"><a href=""><i class="fa fa-calendar"></i> {{ tempDate.toDate() | date: 'medium' }}</a></li>
                  </ul>
                  <p class="pr-5">{{des}}</p>
              </div>
          </div>
          <div class="col-lg-3 align-self-center">
              <div class="action float-lg-right pb-3">
              <div>
                  <ul class="list-inline justify-content-center">
                      <li class="list-inline-item">
                          <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="category.html">
                          <i class="fa fa-eye"></i>
                          </a>
                      </li>
                      <br><br>
                      <li class="list-inline-item">
                          <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" href="">
                          <i class="fa fa-pencil"></i>
                          </a>
                      </li>
                      <br><br>
                      <li class="list-inline-item">
                          <a class="delete" data-toggle="tooltip" data-placement="top" title="Delete" href="">
                          <i class="fa fa-trash"></i>
                          </a>
                      </li>

                  </ul>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
