<!-- /////////////// image uploader - start /////////////// -->
<div class="form-group">
  <label>Profile picture :</label>
  <div class="card" style="width: 15rem;" >
    <div class="card-body">
      <form [formGroup]="imageForm">
        <div class="text-center">
          <img (click)="fileUploader.click()"  width="100%" height="100%" class="text-center" [src]="imgSrc">
        </div>
        <div class="form-group">
          <label> Select File to upload:- ({{uploadPercentage | async}}%)</label>
          <span (click)="fileUploader.click()" class="d-block btn bg-primary text-white my-3 select-files">Select files</span>
          <input type="file"
                 class="form-control-file d-none"
                 formControlName="imageUrl"
                 (change) = "showPreview($event,imageForm.value)"
                 accept="image/*"
                 #fileUploader
          >
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /////////////// image uploader - end /////////////// -->
