<table class="table table-hover ">
    <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Your service</th>
        <th>Service Description</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let ser of list">
          
          <td  >{{ser. firstName}}</td>
          <td  >{{ser.lastName}}</td>
          <td  >{{ser.service}}</td>
          <td  >{{ser.serviceDes}}</td>
          <td> <button class="btn btn-outline-primary"  type="button">
                <i style="font-size:24px" class="fa">&#xf0a9;</i>
              </button></td>
        </tr>
    </tbody>
</table>
