
<section class="login py-5 border-top-1">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8 align-item-center">
              <div class="border border">
                  <h3 class="bg-gray p-4">Who're you ?</h3>
                  <form [formGroup]="roleForm">
                      <fieldset class="p-4">
                        <div class="form-group">
                          <select class="form-control" formControlName="role">
                            <option>Student in UOC</option>
                            <option>Lecturer in UOC</option>
                            <option >Service Provider</option>
                            <option>Sponsor</option>
                          </select>
                        </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<div *ngIf="roleForm.value.role == 'Student in UOC'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                    <div class="bg-gray p-4">
                      <h2>Register Now !</h2> as Student
                    </div>
                    <form [formGroup]="StudentRegisterForm">
                        <fieldset class="p-4">

                          <label>First Name*</label>
                          <input type="text" formControlName="firstName" class="border p-3 w-100 my-2" required>

                          <label>Last Name*</label>
                          <input type="text" formControlName="lastName" class="border p-3 w-100 my-2" required>

                          <label>Select Your Faculty</label>
                          <select class="form-control" formControlName="faculty">
                              <option *ngFor = "let tempFaculty of facultyList" >{{tempFaculty}}</option>
                          </select>

                          <label>Academic Year</label>
                          <select class="form-control" formControlName="year">
                            <option value=1 >1st Year</option>
                            <option value=2 >2nd year</option>
                            <option value=3 >3rd Year</option>
                            <option value=4 >4th Year</option>
                          </select>

                          <label>Email*</label>
                          <input type="email" formControlName="email" class="border p-3 w-100 my-2" required>

                          <label>Password*</label>
                          <input type="password" formControlName="password" class="border p-3 w-100 my-2">

                          <label>Confirm Password*</label>
                          <input type="password" class="border p-3 w-100 my-2">

                          <div class="loggedin-forgot d-inline-flex my-3">
                                  <input type="checkbox" id="registering" class="mt-1">
                                  <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                          </div>

                          <br>
                          <label *ngIf="errorMessage != 'temp'" class="error">{{errorMessage}}</label>
                          <label *ngIf="successMessage != 'temp'" class="success">{{successMessage}}</label>

                          <button type="submit" (click)="tryStudentRegister(StudentRegisterForm.value)" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Lecturer in UOC'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                    <div class="bg-gray p-4">
                      <h2>Register Now !</h2> as Lecturer
                    </div>
                    <form action="#">
                        <fieldset class="p-4">
                            <input type="email" placeholder="Email*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Password*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Confirm Password*" class="border p-3 w-100 my-2">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                    <input type="checkbox" id="registering" class="mt-1">
                                    <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Service Provider'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                    <div class="bg-gray p-4">
                      <h2>Register Now !</h2> as Service Provider
                    </div>
                    <form action="#">
                        <fieldset class="p-4">
                            <input type="email" placeholder="Email*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Password*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Confirm Password*" class="border p-3 w-100 my-2">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                    <input type="checkbox" id="registering" class="mt-1">
                                    <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Sponsor'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                    <div class="bg-gray p-4">
                      <h2>Register Now !</h2> as Sponsor
                    </div>
                    <form action="#">
                        <fieldset class="p-4">
                            <input type="email" placeholder="Email*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Password*" class="border p-3 w-100 my-2">
                            <input type="password" placeholder="Confirm Password*" class="border p-3 w-100 my-2">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                    <input type="checkbox" id="registering" class="mt-1">
                                    <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

