<app-navbar></app-navbar>
<section class="login py-5 border-top-1">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8 align-item-center">
              <div class="border border">
                  <h3 class="bg-gray p-4">Who're you ?</h3>
                  <form [formGroup]="roleForm">
                      <fieldset class="p-4">
                        <div class="form-group">
                          <select class="form-control" formControlName="role">
                            <option>Student in UOC</option>
                            <option>Lecturer in UOC</option>
                            <option >Service Provider</option>
                            <option>Sponsor</option>
                          </select>
                        </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<div *ngIf="roleForm.value.role == 'Student in UOC'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                    <div class="bg-gray p-4">
                      <h2>Register Now !</h2> as Student
                    </div>
                    <form [formGroup]="StudentRegisterForm">
                        <fieldset class="p-4">

                          <!-- /////////////// image uploader - start /////////////// -->
                          <div class="form-group">
                            <div class="card" style="width: 15rem;" >
                              <div class="card-body">
                                <form [formGroup]="imageForm">
                                  <div class="text-center">
                                    <img (click)="fileUploader.click()"  width="100%" height="100%" class="text-center" [src]="imgSrc">
                                  </div>
                                  <div class="form-group">
                                    <label> Select File to upload:- ({{uploadPercentage | async}})</label>
                                    <input type="file"
                                           class="form-control"
                                           formControlName="imageUrl"
                                           (change) = "showPreview($event,imageForm.value)"
                                           accept="image/*"
                                           #fileUploader
                                    >
                                    <div *ngIf="imageForm.get('imageUrl').errors?.required" class="text-danger">*required</div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <!-- /////////////// image uploader - end /////////////// -->

                          <div class="form-group">
                            <label>First Name :</label>
                            <input [class.is-invalid]="StudentRegisterForm.get('firstName').invalid && StudentRegisterForm.get('firstName').touched"
                                   type="text"
                                   formControlName="firstName"
                                   class="form-control"
                                   required>
                            <small *ngIf="StudentRegisterForm.get('firstName').invalid && StudentRegisterForm.get('firstName').touched"
                                   class="text-danger">*First Name is required !</small>
                          </div>

                          <div class="form-group">
                            <label>Last Name :</label>
                            <input [class.is-invalid]="StudentRegisterForm.get('lastName').invalid && StudentRegisterForm.get('lastName').touched"
                                   type="text"
                                   formControlName="lastName"
                                   class="form-control"
                                   required>
                            <small class="text-danger" *ngIf="StudentRegisterForm.get('lastName').invalid && StudentRegisterForm.get('lastName').touched">*Last Name is required !</small>
                          </div>

                          <div class="form-group">
                            <label>Select Your Faculty :</label>
                            <select [class.is-invalid]="StudentRegisterForm.get('faculty').invalid && StudentRegisterForm.get('faculty').touched" class="form-control" formControlName="faculty">
                              <option>University of colombo school of computing</option>
                              <option>Faculty of Science</option>
                              <option>Faculty of Management</option>
                              <option>Faculty of Arts</option>
                              <option>Faculty of Low</option>
                              <option>Faculty of Nursing</option>
                              <option>Faculty of Medicine</option>
                              <option>Faculty of Technology</option>
                              <option>Faculty of Education</option>
                              <option>Faculty of Ayurvedhic</option>
                            </select>
                            <small class="text-danger" *ngIf="StudentRegisterForm.get('faculty').invalid && StudentRegisterForm.get('faculty').touched">*Select your faculty !</small>
                          </div>

                          <div class="form-group">
                            <label>Academic Year :</label>
                            <select [class.is-invalid]="StudentRegisterForm.get('year').invalid && StudentRegisterForm.get('year').touched" class="form-control" formControlName="year">
                              <option value=1 >1st Year</option>
                              <option value=2 >2nd year</option>
                              <option value=3 >3rd Year</option>
                              <option value=4 >4th Year</option>
                            </select>
                            <small class="text-danger" *ngIf="StudentRegisterForm.get('year').invalid && StudentRegisterForm.get('year').touched">*Select your academic year!</small>
                          </div>

                          <div class="form-group">
                            <label>Email :</label>
                            <input [class.is-invalid]="StudentRegisterForm.get('email').invalid && StudentRegisterForm.get('email').touched"
                                   type="email"
                                   formControlName="email"
                                   class="form-control"
                                   required>
                            <div *ngIf="StudentRegisterForm.get('email').invalid && StudentRegisterForm.get('email').touched">
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('email').errors.required">*Email is required !</small>
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('email').errors.email">*Email is badly formatted !</small>
                            </div>
                          </div>

                          <div class="form-group">
                            <label>Password :</label>
                            <input [class.is-invalid]="StudentRegisterForm.get('password').invalid && StudentRegisterForm.get('password').touched"
                                   type="password"
                                   formControlName="password"
                                   class="form-control">
                            <div *ngIf="StudentRegisterForm.get('password').invalid && StudentRegisterForm.get('password').touched">
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('password').errors.required">*Enter a password !</small>
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('password').errors.minlength">*Password must be atleast 6 charactors !</small>
                            </div>
                          </div>

                          <div class="form-group">
                            <label>Confirm Password :</label>
                            <input [class.is-invalid]="StudentRegisterForm.get('confirmPassword').invalid && StudentRegisterForm.get('confirmPassword').touched"
                                   type="password"
                                   formControlName="confirmPassword"
                                   class="form-control">
                            <div *ngIf="StudentRegisterForm.get('confirmPassword').invalid && StudentRegisterForm.get('confirmPassword').touched">
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('confirmPassword').errors.required">*Re-Enter the password !</small>
                              <small class="text-danger" *ngIf="StudentRegisterForm.get('confirmPassword').errors.mustMatch">*Passwords doesn't match !</small>
                            </div>
                          </div>

                          <div class="form-group">
                            <label *ngIf="errorMessage != 'temp'" class="text-danger">{{errorMessage}}</label>
                            <label *ngIf="successMessage != 'temp'" class="success">{{successMessage}}</label>
                          </div>

                          <button [disabled]="StudentRegisterForm.invalid" type="submit" (click)="tryStudentRegister(StudentRegisterForm.value)" class="btn btn-primary" >Register Now</button>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Lecturer in UOC'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                  <div class="bg-gray p-4">
                    <h2>Register Now !</h2> as Lecturer
                  </div>
                  <form [formGroup]="AdvisorRegisterForm">
                      <fieldset class="p-4">

                        <div class="form-group">
                          <label>Title :</label>
                          <select class="form-control" formControlName="title">
                            <option>Hon.</option>
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Miss.</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label>First Name :</label>
                          <input [class.is-invalid]="AdvisorRegisterForm.get('firstName').invalid && AdvisorRegisterForm.get('firstName').touched"
                                 type="text"
                                 formControlName="firstName"
                                 class="form-control"
                                 required>
                          <small *ngIf="AdvisorRegisterForm.get('firstName').invalid && AdvisorRegisterForm.get('firstName').touched"
                                 class="text-danger">*First Name is required !</small>
                        </div>

                        <div class="form-group">
                          <label>Last Name :</label>
                          <input [class.is-invalid]="AdvisorRegisterForm.get('lastName').invalid && AdvisorRegisterForm.get('lastName').touched"
                                 type="text"
                                 formControlName="lastName"
                                 class="form-control"
                                 required>
                          <small class="text-danger" *ngIf="AdvisorRegisterForm.get('lastName').invalid && AdvisorRegisterForm.get('lastName').touched">*Last Name is required !</small>
                        </div>

                        <div class="form-group">
                          <label>Email :</label> <br>
                          <small>&#9673; Use your academic Email. (xxxx@cmb.ac.lk)</small>
                          <input [class.is-invalid]="AdvisorRegisterForm.get('email').invalid && AdvisorRegisterForm.get('email').touched"
                                 type="email"
                                 formControlName="email"
                                 class="form-control"
                                 required>
                          <div *ngIf="AdvisorRegisterForm.get('email').invalid && AdvisorRegisterForm.get('email').touched">
                            <small class="text-danger" *ngIf="!(AdvisorRegisterForm.get('email').errors.email) && AdvisorRegisterForm.get('email').errors.invalidLecture">*Please use your academic Email !</small>
                            <small class="text-danger" *ngIf="AdvisorRegisterForm.get('email').errors.email">*Email is badly formatted !</small>
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Password :</label>
                          <input [class.is-invalid]="AdvisorRegisterForm.get('password').invalid && AdvisorRegisterForm.get('password').touched"
                                 type="password"
                                 formControlName="password"
                                 class="form-control">
                                <div *ngIf="AdvisorRegisterForm.get('password').invalid && AdvisorRegisterForm.get('password').touched">
                                  <small class="text-danger" *ngIf="AdvisorRegisterForm.get('password').errors.required">*Enter a password !</small>
                                  <small class="text-danger" *ngIf="AdvisorRegisterForm.get('password').errors.minlength">*Password must be atleast 6 charactors !</small>
                                </div>
                        </div>

                        <div class="form-group">
                          <label>Confirm Password :</label>
                          <input [class.is-invalid]="AdvisorRegisterForm.get('confirmPassword').invalid && AdvisorRegisterForm.get('confirmPassword').touched"
                                 type="password"
                                 formControlName="confirmPassword"
                                 class="form-control">
                                 <div *ngIf="AdvisorRegisterForm.get('confirmPassword').invalid && AdvisorRegisterForm.get('confirmPassword').touched">
                                  <small class="text-danger" *ngIf="AdvisorRegisterForm.get('confirmPassword').errors.required">*Re-Enter the password !</small>
                                  <small class="text-danger" *ngIf="AdvisorRegisterForm.get('confirmPassword').errors.mustMatch">*Passwords doesn't match !</small>
                                </div>
                        </div>

                        <div class="form-group">
                        <label *ngIf="errorMessage != 'temp'" class="text-danger">{{errorMessage}}</label>
                        <label *ngIf="successMessage != 'temp'" class="success">{{successMessage}}</label>
                        </div>

                        <button [disabled]="AdvisorRegisterForm.invalid" type="submit" (click)="tryAdvisorRegister(AdvisorRegisterForm.value)" class="btn btn-primary" >Register Now</button>

                      </fieldset>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Service Provider'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                  <div class="bg-gray p-4">
                    <h2>Register Now !</h2> as Service Provider
                  </div>
                  <form [formGroup]="ServiceProviderRegisterForm">
                      <fieldset class="p-4">

                        <div class="form-group">
                          <label>First Name :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('firstName').invalid && ServiceProviderRegisterForm.get('firstName').touched"
                                 type="text"
                                 formControlName="firstName"
                                 class="form-control"
                                 required>
                          <small *ngIf="ServiceProviderRegisterForm.get('firstName').invalid && ServiceProviderRegisterForm.get('firstName').touched"
                                 class="text-danger">*First Name is required !</small>
                        </div>

                        <div class="form-group">
                          <label>Last Name :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('lastName').invalid && ServiceProviderRegisterForm.get('lastName').touched"
                                 type="text"
                                 formControlName="lastName"
                                 class="form-control"
                                 required>
                          <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('lastName').invalid && ServiceProviderRegisterForm.get('lastName').touched">*Last Name is required !</small>
                        </div>

                        <div class="form-group">
                          <label>Your Service</label>
                          <select [class.is-invalid]="ServiceProviderRegisterForm.get('service').invalid && ServiceProviderRegisterForm.get('service').touched" class="form-control" formControlName="service">
                            <option>Video & Photography</option>
                            <option>Restaurants and Catering</option>
                            <option>Transportation</option>
                            <option>Dancing & Music</option>
                          </select>
                          <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('service').invalid && ServiceProviderRegisterForm.get('service').touched">*Select your Service!</small>
                        </div>

                        <div class="form-group">
                          <label>Service Description :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('serviceDes').invalid && ServiceProviderRegisterForm.get('serviceDes').touched"
                                 type="text"
                                 formControlName="serviceDes"
                                 class="form-control"
                                 required>
                          <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('serviceDes').invalid && ServiceProviderRegisterForm.get('serviceDes').touched">*Description is required !</small>
                        </div>

                        <div class="form-group">
                          <label>Email :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('email').invalid && ServiceProviderRegisterForm.get('email').touched"
                                 type="email"
                                 formControlName="email"
                                 class="form-control"
                                 required>
                          <div *ngIf="ServiceProviderRegisterForm.get('email').invalid && ServiceProviderRegisterForm.get('email').touched">
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('email').errors.required">*Email is required !</small>
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('email').errors.email">*Email is badly formatted !</small>
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Password :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('password').invalid && ServiceProviderRegisterForm.get('password').touched"
                                 type="password"
                                 formControlName="password"
                                 class="form-control">
                          <div *ngIf="ServiceProviderRegisterForm.get('password').invalid && ServiceProviderRegisterForm.get('password').touched">
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('password').errors.required">*Enter a password !</small>
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('password').errors.minlength">*Password must be atleast 6 charactors !</small>
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Confirm Password :</label>
                          <input [class.is-invalid]="ServiceProviderRegisterForm.get('confirmPassword').invalid && ServiceProviderRegisterForm.get('confirmPassword').touched"
                                 type="password"
                                 formControlName="confirmPassword"
                                 class="form-control">
                          <div *ngIf="ServiceProviderRegisterForm.get('confirmPassword').invalid && ServiceProviderRegisterForm.get('confirmPassword').touched">
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('confirmPassword').errors.required">*Re-Enter the password !</small>
                            <small class="text-danger" *ngIf="ServiceProviderRegisterForm.get('confirmPassword').errors.mustMatch">*Passwords doesn't match !</small>
                          </div>
                        </div>

                        <div class="form-group">
                        <label *ngIf="errorMessage != 'temp'" class="text-danger">{{errorMessage}}</label>
                        <label *ngIf="successMessage != 'temp'" class="success">{{successMessage}}</label>
                        </div>

                        <button [disabled]="ServiceProviderRegisterForm.invalid" type="submit" (click)="tryServiceProviderRegister(ServiceProviderRegisterForm.value)" class="btn btn-primary" >Register Now</button>

                      </fieldset>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div *ngIf="roleForm.value.role == 'Sponsor'" >
  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-16 align-item-center">
                <div class="border border">
                  <div class="bg-gray p-4">
                    <h2>Register Now !</h2> as Sponsor
                  </div>
                  <form action="#">
                        <fieldset class="p-4">
                            <input type="email" placeholder="Email*" class="form-control">
                            <input type="password" placeholder="Password*" class="form-control">
                            <input type="password" placeholder="Confirm Password*" class="form-control">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                    <input type="checkbox" id="registering" class="mt-1">
                                    <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                        </fieldset>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

