body {
  height: 312px;
}

img {
  width: 100%;
  height: 280px;
}

p {
  max-height: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
