<div class="appDragDrop" 
    appDragDrop
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">

     
      <div class="choose-file text-center my-4 py-4 rounded">
        <label for="file-upload">
            <span class="d-block font-weight-bold text-dark">Drop files anywhere to upload</span>
            <span class="d-block">or</span>
            <span class="d-block btn bg-primary text-white my-3 select-files">Select files</span>
            <span class="d-block">Maximum upload file size: 500 KB</span>
            <input type="file" class="form-control-file d-none" id="file-upload" name="file" (change)="onDrop($event.target.files)">
        </label>
      </div>
</div>

<p>Uploads</p>

<div *ngFor="let file of files">
  <app-file-drop-upload [file]="file"></app-file-drop-upload>
</div>

