<div class="full">
<section class="bg-4">
  <div class="row">
    <div class="container">
      <div class="navbar navbar-expand-lg navbar-light navigation">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../../assets/images/logo-small.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-10">
            <ul class="navbar-nav ml-auto main-nav ">
              <li *ngIf="isLogged == 1" class="nav-item dropdown dropdown-slide">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=""> <small>Logged as:</small><b> {{user.firstName}} {{user.lastName}} </b><img src="{{profilePicture}}" class="rounded-circle">
                  </a>

                  <!-- Dropdown list -->
                  <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary">
                      <a class="dropdown-item" routerLink="/{{displayName}}-dashboard"><i class="fa fa-columns"></i> Dashboard</a>
                      <hr>
                      <a class="dropdown-item" href="#"><i class="fa fa-bell"></i> Notifications</a>
                      <hr>
                      <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> Log Out</a>
                  </div>
              </li>
              <li *ngIf="isLogged == 0" > <button routerLink="/login" class="btn btn-sm btn-success" ><b>Login</b></button> </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
