<!-- <body class="body-wrapper">

	<app-navbar></app-navbar>

	<div class="row">
		<app-sidebar></app-sidebar>
  </div>

  <router-outlet></router-outlet>

</body> -->
<app-navbar></app-navbar>
<!-- <app-event-planner-home></app-event-planner-home>	 -->
<!-- <app-student-home></app-student-home> -->
<!-- <app-new-sponsor></app-new-sponsor> -->
<!-- <app-sponsor-list></app-sponsor-list> -->
<!-- <app-sponsor-dashboard></app-sponsor-dashboard> -->
<!-- <app-profile-detail></app-profile-detail> -->
<!-- <app-edit-sponsor></app-edit-sponsor> -->
<router-outlet></router-outlet>