
<section class="page-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Advance Search -->
				<div class="advance-search">
					<form>
						<div class="form-row">
							<div class="form-group col-md-8">
								<input type="text" class="form-control my-2 my-lg-0"  [(ngModel)]="searchterm" (change)="filterName('eventName',searchterm)">
							</div>
							<div class="form-group col-md-2">

                <div class="dropdown-menu" *ngFor="let event of filteredNames">
									<a class="dropdown-item" href="category.html">{{event.eventName}}</a>
									<div *ngIf="clubs?.length < 1">
                    <p>Sorry, no clubs found</p>
                  </div>
								</div>

								<button type="submit" class="btn btn-primary">Search Now</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<input type="text" [(ngModel)]="searchterm" (change)="filterName('eventName',searchterm)">
<ul *ngFor="let event of filteredNames">
  <li>{{event.eventName}}</li>

</ul>
<div *ngIf="clubs?.length < 1">
  <p>Sorry, no clubs found</p>
</div>

<div class="card" *ngFor="let tempEvent of filteredNames">
  <app-card (click)='openEvent(tempEvent.id)' [tempId]="tempEvent.id"
                                              [tempTitle]="tempEvent.eventName"
                                              [tempImg]="tempEvent.image"
                                              [tempClub]="tempEvent.clubName"
                                              [tempStartDate]="tempEvent.startDate"
                                              [tempStartTime]="tempEvent.startTime"
                                              [tempStartTimeStamp]="tempEvent.startTimeStamp"
                                              [tempEndDate]="tempEvent.endDate"
                                              [tempEndTime]="tempEvent.endTime"
                                              [tempEndTimeStamp]="tempEvent.endTimeStamp"
                                              [tempStatus]="tempEvent.status"
                                              [tempDescription]="tempEvent.description" >
  </app-card>
</div>