<table class="table table-hover">
    <thead>
        <th>Company Name</th>
        <th>Address</th>
        <th>E mail</th>
    </thead>
    <tbody>
        <tr *ngFor="let spo of list">
            <td>{{spo.name}}</td>
            <td>{{spo.address}}</td>
            <td>{{spo.email}}</td>
            <td *ngIf="spo.availability"><button type="button" (click)="request(spo.id)" [disabled]="!spo.status" class="btn btn-info">Request</button></td>
            <td *ngIf="!spo.availability"><button type="button" [disabled]="!validate" class="btn btn-info">Request</button></td>
        </tr>
    </tbody>
</table>

