.card {
  width: 300px ;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  margin: 2%;
  display: inline-block;
}

.card:hover {
  box-shadow: 2px 2px 20px black;
  transition: .1s;
}

.card-area {
  text-align: center;
}

.card-area .container {
  padding: 1px;
}

.selection-button {
  display: inline-block;
  margin-inline-end : 5px;
  margin-inline-start : 5px;
  margin-bottom: 10px;
}

.selection-button h3 {
  margin: 0px;
}


.section-title{
  margin: 50px;
  margin-top: 0px;
}

.dropdown-item:hover{
  cursor: pointer;
}

.cover{
  text-align: center;
}

.cover img{
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  border-radius: 0px;
}

.footer-image{
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.356);
  border-width: 1px;
  border-radius: 50px;

}

.containers {
  padding-right: 10%;
  padding-left: 10%;
}
