<body class="body-wrapper">

  <!-- =================== start copy here ======================== -->

  <section class="cover">
    <img src="../../../assets/images/home/hero.jpg" alt="">
  </section>

  <div class="card-area">
    <section class="popular-deals section bg-gray">
      <div class="container">

        <!-- selection buttons - start -->

        <div class="selection-button">
          <div> <h3 style="color: rgb(0, 140, 255)" >Status</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedStatusWord}}
              </button>
              <div class="dropdown-menu">
                <a style="color: blue" class="dropdown-item" (click)='setStatus(99)'> All </a>
                <div class="dropdown-divider"></div>
                <a style="color: green" class="dropdown-item" (click)='setStatus(0)'> New </a>
                <a style="color: red" class="dropdown-item" (click)='setStatus(1)'> Ended </a>
              </div>
            </div>
          </div>
        </div>

        <div class="selection-button">
          <div> <h3 style="color: rgb(0, 140, 255)">Club</h3>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedClub | titlecase }}
              </button>
              <div class="dropdown-menu">
                <a style="color: blue" class="dropdown-item" (click)='setClub("all")'> All </a>
                <div class="dropdown-divider"></div>
                <a style="color: green" *ngFor="let temp of clubs" class="dropdown-item" (click)='setClub(temp)'>{{temp | uppercase }}</a>
              </div>
            </div>
          </div>
        </div>

        <!-- selection buttons - end -->

        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 style="color: rgb(155, 155, 155)" >{{selectedStatusWord | uppercase }} Events Of {{ selectedClub | uppercase }} Club </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="trending-ads-slide">

              <!-- for loop -start -->

              <div class="card" *ngFor="let tempEvent of showingEventList">
                <app-card (click)='openEvent(tempEvent.id)' [tempId]="tempEvent.id"
                                                            [tempTitle]="tempEvent.title"
                                                            [tempImg]="tempEvent.img"
                                                            [tempClub]="tempEvent.club"
                                                            [tempDate]="tempEvent.date"
                                                            [tempStatus]="tempEvent.status" >
                </app-card>
              </div>

              <!-- for loop end -->

            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

  <!-- =================== end copy here ======================== -->


    <footer class="footer section section-sm">
      <!-- Container Start -->
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
            <!-- About -->
            <div class="block about">
              <!-- footer logo -->
              <img src="images/logo-footer.png" alt="">
              <!-- description -->
              <p class="alt-color">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                  aaaaaaaaaaaaaaaaaa
                                  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                  aaaaaaaaaaaaaaaaaa
              </p>
            </div>
          </div>
          <!-- Link list -->
          <div class="col-lg-2 offset-lg-1 col-md-3">
            <div class="block">
              <h4>Site Pages</h4>
              <ul>
                <li><a href="#">xxxxxxx</a></li>
                <li><a href="#">xxxxxxx</a></li>
                <li><a href="#">xxxxxxx</a></li>
                <li><a href="#">xxxxxxx</a></li>
              </ul>
            </div>
          </div>
          <!-- Link list -->
          <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
            <div class="block">
              <h4>Admin Pages</h4>
              <ul>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
                <li><a href="#">xxxxxx</a></li>
              </ul>
            </div>
          </div>

          <!-- Promotion -->
          <div class="col-lg-4 col-md-8">
            <img class="footer-image" src="../../../assets/images/eventsHub/icon-small.png">
          </div>

        </div>
      </div>
      <!-- Container End -->
    </footer>
    <!-- Footer Bottom -->
    <footer class="footer-bottom">
      <!-- Container Start -->
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12">
            <!-- Copyright -->
            <div class="copyright">
              <p>Copyright © All Rights Reserved, Web by GROUP'15</p>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <!-- Social Icons -->
            <ul class="social-media-icons text-right">
              <li><a class="fa fa-facebook" href="#"></a></li>
              <li><a class="fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-pinterest-p" href="#"></a></li>
              <li><a class="fa fa-vimeo" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Container End -->
      <!-- To Top -->
      <div class="top-to">
        <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
      </div>
    </footer>

    </body>
